<?xml version="1.0"?>
<!-- Configuration file for RecSys demo  
	 Part 01: Demonstrating librec-auto -->

<librec-auto>
	<random-seed>202001</random-seed>
	<thread-count>1</thread-count>
	<library src="system">default-algorithms.xml</library>
	
	<!-- DATA SECTION -->
	<data>
		<data>../data</data>
		<format>UIR</format>
		<data-file format="text">ratings.csv</data-file>
	</data>
	
	<!-- SPLITTER SECTION -->
	<splitter>
		<model count="5">kcv</model>
		<dim>userfixed</dim>
		<ratio>0.8</ratio>
		<save>true</save>
	</splitter>
	
	<!-- ALGORITHM SECTION -->
	<!-- Using biased matrix factorization for demonstration purposes. -->
	<alg ref="alg:biasedmf">
		<user-reg>0.01</user-reg>
<!--			<value>0.01</value>
			<value>0.1</value>
		</user-reg>-->
		<iterator-max>25</iterator-max>
		<num-factors>
			<value>10</value>
			<value>50</value>
		</num-factors>
	</alg> 

	<!-- METRICS SECTION -->
	<metric>
		<ranking>true</ranking>
		<list-size>10</list-size>
		<class>ndcg,precision</class>
	</metric>
	
	<!-- POST-PROCESSING SECTION -->
	<post>
		<script lang="python3" src="system">
			<script-name>results_to_csv.py</script-name>
			<param name="option">all</param>
		</script> 

		<script lang="python3" src="system">
			<script-name>result_graphics.py</script-name>
			<param name="browser">true</param>
		</script> 

		<script lang="python3" src="system">
			<script-name>slack_post.py</script-name>
			<param name="option">message</param>
			<param name="channel">la_bot</param>
			<param name="encrypted_key">../keys/slack-api.enc</param>
			<param name="message">Experiment complete</param>
			<param name="password"/>
		</script> 

		<script lang="python3" src="system">
			<script-name>slack_post.py</script-name>
			<param name="option">file</param>
			<param name="channel">la_bot</param>
			<param name="encrypted_key">/Users/robinburke/Documents/GitHub/librec-auto-demo2020/keys/slack-api.enc</param>
			<param name="file">post/viz-bar-NormalizedDCG.jpg</param>
			<param name="message">NDCG for the experiment</param>
			<param name="password"/>
		</script> 
	</post> 
</librec-auto>
